:root {
    //--light-gray: #DADCE0;
    //--light-blue: #1B9CE2;
}

body {
    margin: 0;
}

#app-calendar {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width:100%;
    height:100%;
}

.day {
    border-bottom: 1px solid #DADCE0;
    border-right: 1px solid #1B9CE2;
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
   
}

.name {
    padding-bottom: 5px;
}

.weekend {
    color: #1B9CE2;
}
.selected {
    background-color: #1B9CE2;
    color: white;
}
.Mon{
    grid-column: 1;
}
.Tue{
    grid-column: 2;
}
.Wed{
    grid-column: 3;
}
.Thu{
    grid-column: 4;
}
.Fri{
    grid-column: 5;
}
.Sat{
    grid-column: 6;
}
.Sun{
    grid-column: 7;
}
